.Card4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 90vh;
    margin: 3% ;
  }
  
  .Card4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px ;
  }

  .flightConfire1{
    margin-left: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
    
  }

  .dispaly_data {
    margin-bottom: 5%;
    height: 5vh;
    background-color: burlywood;
  }

  .btnFont {
    color: black;
  }

  .btnFont:hover {
    color: white;
  }